// General
.img160
  max-width: 160px !important  
.img250
  max-width: 250px !important  
.img450
  max-width: 450px !important  
  
// Tema 1
.bg-color-tarjeta  
  background-color: #ECEDEB

.bg-slydera
  background-color: #E7DDD2
  height: 500px
  width: 70%
  border-radius: 5%
  padding: 50px
