// General
.animated
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both

@keyframes fadeIn
  from
    opacity: 0

  to
    opacity: 1

.fadeIn
  animation-name: fadeIn
  
.img160
  max-width: 160px !important
  @media screen and (max-width: 991px)
    max-width: 120px !important

.img250
  max-width: 250px !important  
.img450
  max-width: 450px !important  
.img550
  max-width: 550px !important  
.img650
  max-width: 650px !important  
.img850
  max-width: 850px !important  
  
.font-color-acento-contenido
  color: $color-acento-contenido

.bg-color-acento-contenido-o25
  background-color: rgba($color-acento-contenido, 0.25) !important



// Tema 1
.bg-color-tarjeta  
  background-color: #ECEDEB

.bg-slydera
  background-color: #E7DDD2
  height: 500px
  width: 70%
  border-radius: 5%
  padding: 50px

.bg-tarjeta-acordion
  background-color: #F7F7F7

.acordion__activo    
  background-color: #EFE9E2

.acordion__titulo
  margin-left: 30px

.formula
  color: #465F23
  font-weight: bold

.fraction
  display: inline-block
  vertical-align: middle
  margin: 0 0.2em 0.4ex
  text-align: center

  > span
    display: block
    padding-top: 0.15em

  span
    &.fdn
      border-top: solid #465F23

    &.bar
      display: none

.bg-archivo
  background: rgb(86,29,24);
  background: linear-gradient(0deg, rgba(86,29,24,1) 30%, rgba(204,151,100,1) 100%);      


// .w-65
//   width: 65% !important

// Tema 2
.lista-ol--cuadro__vineta
  margin: auto 40px auto 0 
  padding: 4% !important
  font-size: x-large
  font-weight: bolder

.bg-cajon-texto
  background-color: #FFE8E3 !important

.lista-ol--cuadro__vineta
  border-radius: 50%;
  padding: 17px

.bg-caja-instrumentos
  background-color: #ECEDEB !important

.bg-tarjeta-flip-rosa
  background-color: #FFE8E3 !important

.bg-tarjeta-flip-naranja
  background-color: #FFEFCC !important

.bg-tarjeta-flip-amarilla
  background-color: #FDFAD6 !important

.tarjeta-flip__img
  cursor: pointer !important
  background-position: center  
  background-size: 50%
  background-repeat: no-repeat
  @media screen and (max-width: 1200px)
    background-size: 35%
  @media screen and (max-width: 767px)
    background-size: 30%

.tarjeta-flip__contenido
  @media screen and (max-width: 767px)
    height: 300px

.bg-tarjeta-tab
  background-color: rgba(#E8E8E8, 0.15)
  border: 2px solid rgba(#424B35, 0.15)

.tabs-a__tab
  background-color: #E8E8E8
  color: #12263F
  font-size: medium
  padding: 10px
  width: 240px

.tabs-a__content-item
  font-size: medium
  width: 290px
  @media screen and (max-width: 1199px)
    width: 100%

.img-tab
  position: absolute
  width: 45%
  top: 0
  right: 0%
  
  @media screen and (max-width: 1199px)
    position: relative
    margin: 10px auto
    width: 100%



// Tema3
.bg-3_1
  position: relative
  .row
    position: relative
  &::before
    content: url("../assets/curso/tema3/bg-3_1.svg")
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 100%
    max-height: 497px
    margin: 0 -3rem
